name: Push

on:
  push:
    branches: [main]

env:
  TF_VERSION: 0.14.7
  TG_VERSION: 0.26.7
  TG_SRC_PATH: terraform
  TFC_WORKSPACE: dev

jobs:
  ci:
    name: ci
    runs-on: ubuntu-20.04
    environment: dev

    steps:
      - name: Check out the repo
        uses: actions/checkout@v2

      - name: setup terraform
        uses: hashicorp/setup-terraform@v1
        with:
          terraform_version: ${{ env.TF_VERSION }}
          cli_config_credentials_token: ${{ secrets.TFC_TEAM_TOKEN }}

      - uses: peter-murray/terragrunt-github-action@v1.0.0
        with:
          terragrunt_version: ${{ env.TG_VERSION }}

      - name: Terragrunt Apply
        working-directory: ${{ env.TG_SRC_PATH }}/${{ env.TFC_WORKSPACE }}
        env:
          app_version: ${{ github.run_number }}
          public_frontend: ${{ secrets.PUBLIC_FRONTEND_URL }}
          deployEnvironment: 'dev'
          gc_notify_api_path: ${{ secrets.GC_NOTIFY_API_PATH }}
          gc_notify_api_key: ${{ secrets.GC_NOTIFY_API_KEY }}
          gc_notify_parking_receipt_template_id: ${{ secrets.PARKING_TEMPLATE_ID }}
          gc_notify_trail_receipt_template_id: ${{ secrets.TRAIL_TEMPLATE_ID }}
          gc_notify_cancel_template_id: ${{ secrets.CANCEL_TEMPLATE_ID }}
        run: terragrunt apply-all --terragrunt-non-interactive

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}
          role-duration-seconds: 900
          role-session-name: parks-reso-admin-dev-gh-action
          role-skip-session-tagging: true